<!DOCTYPE html>
<html class="no-js" lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="updateModalDescription" class="modal fade" id="updateModalDescription">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:text="#{edit.description.modal.title}"></h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                </button>
            </div>
            <form autocomplete="off" action="#" th:action="@{/descriptions/editDescription}"
                  th:object="${fieldToUpdate}" th:method="put" class="description"
                  role="form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="editDescriptionIdInput" th:text="#{edit.description.modal.input.number}"></label>
                        <input type="text" class="form-control" id="editDescriptionIdInput" readonly="readonly"
                               th:field="*{id}">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label"
                               th:text="#{edit.description.modal.input.element}"></label>
                        <select class="form-control" th:field="*{element.id}">
                            <option th:each="elementOption : ${descriptionBean.elements}"
                                    , th:value="${elementOption.id}"
                                    th:text="${elementOption.name}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="editDescriptionTitleInput" th:text="#{edit.description.modal.input.title}"></label>
                        <input type="text" class="form-control" id="editDescriptionTitleInput"
                               th:field="*{title}">
                    </div>
                    <div class="form-group">
                        <label for="editDescriptionContentInput"
                               th:text="#{edit.description.modal.input.content}"></label>
                        <textarea id="editDescriptionContentInput" class="form-control"
                                  th:field="*{content}"></textarea>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="editDescriptionIsMobileInput"
                               th:field="*{mobile}"/>
                        <label class="custom-control-label" for="editDescriptionIsMobileInput"
                               th:text="#{edit.description.modal.input.mobile}"></label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="editDescriptionIsWebInput"
                               th:field="*{web}">
                        <label class="custom-control-label" for="editDescriptionIsWebInput"
                               th:text="#{edit.description.modal.input.web}"></label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            th:text="#{edit.description.modal.cancel}"></button>
                    <button type="submit" class="btn btn-primary" th:text="#{edit.description.modal.submit}"></button>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:fragment="deleteModalDescription" class="modal fade" id="deleteModalDescription">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:text="#{delete.description.modal.title}"></h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                </button>
            </div>
            <form autocomplete="off" action="#" th:action="@{/descriptions/deleteDescriptionConfirmed}"
                  th:method="delete" class="descriptions"
                  th:object="${identityObject}" role="form">
                <div class="modal-body">
                    <input type="hidden" class="form-control" id="deleteId"
                           th:field="*{identity}">
                    <p th:text="#{delete.description.modal.text}"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            th:text="#{delete.description.modal.cancel}"></button>
                    <button type="submit" class="btn btn-primary" th:text="#{delete.description.modal.submit}"></button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>