<!DOCTYPE html>
<html class="no-js" lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="updateModalElement" class="modal fade" id="updateModalElement">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:text="#{update.tip.modal.title}"></h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                </button>
            </div>
            <form autocomplete="off" action="#" th:action="@{/elements/editElement}" enctype="multipart/form-data"
                  th:object="${fieldToUpdate}" th:method="put" class="elements"
                  role="form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="editElementIdInput" th:text="#{edit.element.modal.input.number}"></label>
                        <input type="text" class="form-control" id="editElementIdInput" readonly="readonly"
                               th:field="*{id}">
                    </div>
                    <div class="form-group">
                        <label for="editElementNameInput" th:text="#{edit.element.modal.input.name}"></label>
                        <input type="text" class="form-control" id="editElementNameInput" th:field="*{name}">
                    </div>
                    <div class="form-group">
                        <label for="elementDescriptionInput" th:text="#{edit.element.modal.input.description}"></label>
                        <input type="text" class="form-control" id="elementDescriptionInput"
                               th:field="*{shortDescription}">
                    </div>
                    <div class="form-group">
                        <label for="gpsXInput" th:text="#{edit.element.modal.input.gpsX}"></label>
                        <input type="text" class="form-control" id="gpsXInput" th:field="*{gpsX}">
                    </div>
                    <div class="form-group">
                        <label for="gpsYInput" th:text="#{edit.element.modal.input.gpsY}"></label>
                        <input type="text" class="form-control" id="gpsYInput" th:field="*{gpsY}">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label"
                               th:text="#{edit.element.modal.input.question}"></label>
                        <select class="form-control" th:field="*{question.id}">
                            <option th:if="${fieldToUpdate.question !=null}" th:value="${fieldToUpdate.question.id}"
                                    th:text="${fieldToUpdate.question.content}"></option>
                            <option th:each="questionOption : ${elementBean.questionsWithoutElement}"
                                    , th:value="${questionOption.id}"
                                    th:text="${questionOption.content}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label"
                               th:text="#{edit.element.modal.input.tip}"></label>
                        <select class="form-control" th:field="*{tip.id}">
                            <option th:each="tipOption : ${elementBean.tips}"
                                    , th:value="${tipOption.id}"
                                    th:text="${tipOption.description}"></option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" th:text="#{upload}"></span>
                        </div>
                        <div class="custom-file">
                            <label class="custom-file-label" for="routeImageInput"
                                   th:utext="#{routeImageText}"></label>
                            <input type="file" multiple="multiple" class="custom-file-input" id="routeImageInput"
                                   th:field="*{photo}">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            th:text="#{edit.element.modal.input.close}"></button>
                    <button type="submit" class="btn btn-primary" th:text="#{edit.element.modal.input.submit}"></button>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:fragment="deleteModalElement" class="modal fade" id="deleteModalElement">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:text="#{delete.element.modal.title}"></h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                </button>
            </div>
            <form autocomplete="off" action="#" th:action="@{/elements/deleteElementConfirmed}" th:method="delete"
                  class="elements"
                  th:object="${identityObject}" role="form">
                <div class="modal-body">
                    <input type="hidden" class="form-control" id="deleteId"
                           th:field="*{identity}">
                    <p th:text="#{delete.element.modal.text}"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            th:text="#{delete.element.modal.cancel}"></button>
                    <button type="submit" class="btn btn-primary" th:text="#{delete.element.modal.submit}"></button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>