<!DOCTYPE html>
<html class="no-js" lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="updateModalInstitution" class="modal fade" id="updateModalInstitution">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:text="#{edit.institution.modal.title}"></h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                </button>
            </div>
            <form autocomplete="off" action="#" th:action="@{/institutions/editInstitution}"
                  th:object="${fieldToUpdate}" th:method="put" class="institution"
                  role="form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="editInstitutionIdInput" th:text="#{edit.institution.modal.input.number}"></label>
                        <input type="text" class="form-control" id="editInstitutionIdInput" readonly="readonly"
                               th:field="*{id}">
                    </div>
                    <div class="form-group">
                        <label for="editInstitutionNameInput" th:text="#{edit.institution.modal.input.name}"></label>
                        <input type="text" class="form-control" id="editInstitutionNameInput"
                               th:field="*{name}">
                    </div>
                    <div class="form-group">
                        <label for="editInstitutionDescriptionInput"
                               th:text="#{edit.institution.modal.input.description}"></label>
                        <textarea id="editInstitutionDescriptionInput" class="form-control"
                                  th:field="*{description}"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="editInstitutionLocationInput"
                               th:text="#{edit.institution.modal.input.location}"></label>
                        <input type="text" class="form-control" id="editInstitutionLocationInput"
                               th:field="*{location}">
                    </div>
                    <div class="form-group">
                        <label for="editInstitutionPhoneNumberInput"
                               th:text="#{edit.institution.modal.input.phone.number}"></label>
                        <input type="tel" class="form-control" id="editInstitutionPhoneNumberInput" th:field="*{phone}">
                    </div>
                    <div class="form-group">
                        <label for="editInstitutionEmailInput" th:text="#{edit.institution.modal.input.email}"></label>
                        <input type="email" class="form-control" id="editInstitutionEmailInput" th:field="*{email}">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            th:text="#{edit.institution.modal.cancel}"></button>
                    <button type="submit" class="btn btn-primary" th:text="#{edit.institution.modal.submit}"></button>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:fragment="deleteModalInstitution" class="modal fade" id="deleteModalInstitution">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:text="#{delete.institution.modal.title}"></h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                </button>
            </div>
            <form autocomplete="off" action="#" th:action="@{/institutions/deleteInstitutionConfirmed}"
                  th:method="delete" class="institutions"
                  th:object="${identityObject}" role="form">
                <div class="modal-body">
                    <input type="hidden" class="form-control" id="deleteId"
                           th:field="*{identity}">
                    <p th:text="#{delete.institution.modal.text}"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            th:text="#{delete.institution.modal.cancel}"></button>
                    <button type="submit" class="btn btn-primary" th:text="#{delete.institution.modal.submit}"></button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>