<!DOCTYPE html>
<html class="no-js" lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="updateModalMessage" class="modal fade" id="updateModalMessage">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:text="#{edit.message.modal.title}"></h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                </button>
            </div>
            <form autocomplete="off" action="#" th:action="@{/messages/editMessage}"
                  th:object="${fieldToUpdate}" th:method="put" class="messages"
                  role="form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="editMessageIdInput" th:text="#{edit.message.modal.input.number}"></label>
                        <input type="text" class="form-control" id="editMessageIdInput" readonly="readonly"
                               th:field="*{id}">
                    </div>
                    <div class="form-group">
                        <label for="editMessageTitleInput" th:text="#{edit.message.modal.input.title}"></label>
                        <input type="text" class="form-control" id="editMessageTitleInput"
                               th:field="*{title}">
                    </div>
                    <div class="form-group">
                        <label for="editMessageDescriptionInput" th:text="#{edit.message.modal.input.value}"></label>
                        <textarea id="editMessageDescriptionInput" class="form-control"
                                  th:field="*{description}"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            th:text="#{edit.message.modal.cancel}"></button>
                    <button type="submit" class="btn btn-primary" th:text="#{edit.message.modal.submit}"></button>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:fragment="deleteModalMessage" class="modal fade" id="deleteModalMessage">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:text="#{delete.message.modal.title}"></h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                </button>
            </div>
            <form autocomplete="off" action="#" th:action="@{/messages/deleteMessageConfirmed}" th:method="delete"
                  class="messages"
                  th:object="${identityObject}" role="form">
                <div class="modal-body">
                    <input type="hidden" class="form-control" id="deleteId"
                           th:field="*{identity}">
                    <p th:text="#{delete.message.modal.text}"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            th:text="#{delete.message.modal.cancel}"></button>
                    <button type="submit" class="btn btn-primary" th:text="#{delete.message.modal.submit}"></button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>