<!DOCTYPE html>
<html class="no-js" lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="deleteModalPrize" class="modal fade" id="deleteModalPrize">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:text="#{delete.prize.modal.title}"></h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                </button>
            </div>
            <form autocomplete="off" action="#" th:action="@{/prize/deletePrizeConfirmed}" th:method="delete"
                  class="prizes"
                  th:object="${identityObject}" role="form">
                <div class="modal-body">
                    <input type="hidden" class="form-control" id="deleteId"
                           th:field="*{identity}">
                    <p th:text="#{delete.prize.modal.text}"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            th:text="#{close}"></button>
                    <button type="submit" class="btn btn-primary" th:text="#{delete.prize.modal.submit}"></button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>