<!DOCTYPE html>
<html class="no-js" lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="updateModalQuestion" class="modal fade" id="updateModalQuestion">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:text="#{edit.question.modal.title}"></h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                </button>
            </div>
            <form autocomplete="off" action="#" th:action="@{/questions/editQuestion}"
                  th:object="${fieldToUpdate}" th:method="put" class="questions"
                  role="form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="editQuestionIdInput" th:text="#{edit.question.modal.input.number}"></label>
                        <input type="text" class="form-control" id="editQuestionIdInput" readonly="readonly"
                               th:field="*{id}">
                    </div>
                    <div class="form-group">
                        <label for="editQuestionContentInput" th:text="#{edit.question.modal.input.content}"></label>
                        <input type="text" class="form-control" id="editQuestionContentInput" th:field="*{content}">
                    </div>
                    <div class="form-group">
                        <label for="editQuestionAnswerFirstInput" th:text="#{edit.question.modal.input.answer.first}"></label>
                        <textarea id="editQuestionAnswerFirstInput" class="form-control"
                                  th:field="*{answerOne}"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="editQuestionAnswerSecondInput"
                               th:text="#{edit.question.modal.input.answer.second}"></label>
                        <input type="text" class="form-control" id="editQuestionAnswerSecondInput"
                               th:field="*{answerTwo}">
                    </div>
                    <div class="form-group">
                        <label for="editQuestionAnswerThreeInput" th:text="#{edit.question.modal.input.answer.third}"></label>
                        <input type="text" class="form-control" id="editQuestionAnswerThreeInput"
                               th:field="*{answerTree}">
                    </div>
                    <div class="form-group">
                        <label for="editQuestionAnswerRightInput" th:text="#{edit.question.modal.input.answer.right}"></label>
                        <input type="text" class="form-control" id="editQuestionAnswerRightInput"
                               th:field="*{rightAnswer}">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            th:text="#{edit.question.modal.cancel}"></button>
                    <button type="submit" class="btn btn-primary" th:text="#{edit.question.modal.submit}"></button>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:fragment="deleteModalQuestion" class="modal fade" id="deleteModalQuestion">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:text="#{delete.question.modal.title}"></h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                </button>
            </div>
            <form autocomplete="off" action="#" th:action="@{/questions/deleteQuestionConfirmed}" th:method="delete"
                  class="questions"
                  th:object="${identityObject}" role="form">
                <div class="modal-body">
                    <input type="hidden" class="form-control" id="deleteId"
                           th:field="*{identity}">
                    <p th:text="#{delete.question.modal.text}"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            th:text="#{delete.question.modal.cancel}"></button>
                    <button type="submit" class="btn btn-primary" th:text="#{delete.question.modal.submit}"></button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>