<!DOCTYPE html>
<html class="no-js" lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="updateModalRoute" class="modal fade" id="updateModalRoute">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:text="#{edit.route.modal.title}"></h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                </button>
            </div>
            <form autocomplete="off" action="#" th:action="@{/routes/editRoute}" enctype="multipart/form-data"
                  th:object="${fieldToUpdate}" th:method="put" class="routes"
                  role="form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="editRouteIdInput" th:text="#{edit.route.modal.input.number}"></label>
                        <input type="text" class="form-control" id="editRouteIdInput" readonly="readonly"
                               th:field="*{id}">
                    </div>
                    <div class="form-group">
                        <label for="editRouteNameInput" th:text="#{edit.route.modal.input.name}"></label>
                        <input type="text" class="form-control" id="editRouteNameInput"
                               th:field="*{name}">
                    </div>
                    <div class="form-group">
                        <label for="editRouteDescriptionInput" th:text="#{edit.route.modal.input.description}"></label>
                        <textarea id="editRouteDescriptionInput" class="form-control"
                                  th:field="*{description}"></textarea>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" th:text="#{upload}"/>
                        </div>
                        <div class="custom-file">
                            <label class="custom-file-label" for="routeImageInput"
                                   th:utext="#{routeImageText}"/>
                            <input type="file" multiple="multiple" class="custom-file-input" id="routeImageInput"
                                   th:field="*{photo}">

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            th:text="#{close}"></button>
                    <button type="submit" class="btn btn-primary" th:text="#{edit.route.modal.submit}"></button>
                </div>
            </form>
        </div>
    </div>
</div>


<div th:fragment="deleteModalRoute" class="modal fade" id="deleteModalRoute">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:text="#{delete.route.modal.title}"></h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                </button>
            </div>
            <form autocomplete="off" action="#" th:action="@{/routes/deleteRouteConfirmed}" th:method="delete" class="routes"
                  th:object="${identityObject}" role="form">
                <div class="modal-body">
                    <input type="hidden" class="form-control" id="deleteId"
                           th:field="*{identity}">
                    <p th:text="#{delete.route.modal.text}"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            th:text="#{delete.route.modal.cancel}"></button>
                    <button type="submit" class="btn btn-primary" th:text="#{delete.route.modal.submit}"></button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>