<!DOCTYPE html>
<html class="no-js" lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="updateModalRouteElement" id="updateModalRouteElement" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:text="#{edit.route.element.modal.title}"></h5>
                <button type="button" class="close"
                        data-dismiss="modal"><span>&times;</span>
                </button>
            </div>
            <form autocomplete="off" action="#"
                  th:action="@{/routes-elements/route/editRouteElement}"
                  th:object="${fieldToUpdate}" th:method="put"
                  class="routeElement"
                  role="form">
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="editRouteElementRouteIdInput" readonly="readonly"
                               th:field="*{route.id}">
                    </div>
                    <div class="form-group">
                        <label for="editRouteElementIdInput"
                               th:text="#{edit.route.element.modal.input.identity}"></label>
                        <input type="text" class="form-control" id="editRouteElementIdInput" readonly="readonly"
                               th:field="*{id}">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label"
                               th:text="#{edit.route.element.modal.input.element}"></label>
                        <select class="form-control" th:field="*{element.id}">
                            <option th:each="elementOption : ${routeElementBean.allElements}"
                                    , th:value="${elementOption.id}"
                                    th:text="${elementOption.name}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="editRouteElementRouteOrderInput"
                               class="col-form-label"
                               th:text="#{edit.route.element.modal.input.order}"></label>
                        <input class="form-control" type="number"
                               id="editRouteElementRouteOrderInput" th:field="*{number}">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-dismiss="modal" th:text="#{edit.route.element.modal.input.cancel}"></button>
                    <button type="submit" class="btn btn-primary"
                            th:text="#{edit.route.element.modal.input.submit}"></button>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:fragment="deleteModalRouteElement" class="modal fade" id="deleteModalRouteElement">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:text="#{delete.routeElement.modal.title}"></h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                </button>
            </div>
            <form autocomplete="off" action="#" th:action="@{/routes-elements/route/deleteRouteElementConfirmed}"
                  th:method="delete" class="routeElements"
                  th:object="${identityObject}" role="form">
                <div class="modal-body">
                    <input type="hidden" class="form-control" id="deleteId"
                           th:field="*{identity}">
                    <p th:text="#{delete.routeElement.modal.text}"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            th:text="#{delete.routeElement.modal.cancel}"></button>
                    <button type="submit" class="btn btn-primary"
                            th:text="#{delete.routeElement.modal.submit}"></button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>