<!DOCTYPE html>
<html class="no-js" lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="updateModalTip" class="modal fade" id="updateModalTip">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:text="#{update.tip.modal.title}"></h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                </button>
            </div>
            <form autocomplete="off" action="#" th:action="@{/tips/editTip}" enctype="multipart/form-data"
                  th:object="${fieldToUpdate}" th:method="put" class="tips"
                  role="form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="editTipIdInput" th:text="#{edit.tip.modal.input.number}"></label>
                        <input type="text" class="form-control" id="editTipIdInput" readonly="readonly"
                               th:field="*{id}">
                    </div>
                    <div class="form-group">
                        <label for="editTipDescriptionInput" th:text="#{edit.tip.modal.input.description}"></label>
                        <textarea id="editTipDescriptionInput" class="form-control"
                                  th:field="*{description}"></textarea>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" th:text="#{upload}"></span>
                        </div>
                        <div class="custom-file">
                            <label class="custom-file-label" for="routeImageInput"
                                   th:utext="#{routeImageText}"></label>
                            <input type="file" multiple="multiple" class="custom-file-input" id="routeImageInput"
                                   th:field="*{photo}">

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            th:text="#{close}"></button>
                    <button type="submit" class="btn btn-primary" th:text="#{edit.tip.modal.submit}"></button>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:fragment="deleteModalTip" class="modal fade" id="deleteModalTip">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:text="#{delete.tip.modal.title}"></h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                </button>
            </div>
            <form autocomplete="off" action="#" th:action="@{/tips/deleteTipConfirmed}" th:method="delete"
                  class="routes"
                  th:object="${identityObject}" role="form">
                <div class="modal-body">
                    <input type="hidden" class="form-control" id="deleteId"
                           th:field="*{identity}">
                    <p th:text="#{delete.tip.modal.text}"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            th:text="#{close}"></button>
                    <button class="btn btn-primary" th:text="#{delete.tip.modal.submit}" type="submit"></button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>