<!DOCTYPE html>
<html class="no-js" lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<div class="col-lg-4 col-md-6 mt-5" th:fragment="navigateCard (path, content, title)">
    <div class="card card-bordered h-100">
        <div class="card-body d-flex flex-column">
            <h5 class="title" th:text="${title}"/>
            <p class="card-text" th:text="${content}"/>
            <a th:href="@{${path}}" class="btn btn-primary mt-auto" th:text="#{buttonCards}"></a>
        </div>
    </div>
</div>
</body>
</html>