<!DOCTYPE html>
<html class="no-js" lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div th:fragment="mainWrapperTemplate(content)" class="horizontal-main-wrapper">
    <div class="mainheader-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="logo">
                        <a th:href="@{/}"><img th:src="@{/images/icon/logo2.png}" alt="logo"></a>
                    </div>
                </div>
                <div class="col-md-9 clearfix text-right">
                    <div class="d-md-inline-block d-block mr-md-4">
                        <ul class="notification-area">
                            <li class="settings-btn"></li>
                        </ul>
                    </div>
                    <div class="clearfix d-md-inline-block d-block">
                        <div class="user-profile m-0">
                            <img class="avatar user-thumb" th:src="@{/images/author/avatar.png}" alt="avatar">
                            <h4 class="user-name dropdown-toggle" data-toggle="dropdown"><span
                                    sec:authentication="name"></span><i class="fa fa-angle-down"></i></h4>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" th:href="@{/logout}" th:text="#{logout}"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-area header-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-9  d-none d-lg-block">
                    <div class="horizontal-menu">
                        <nav>
                            <ul id="nav_menu">
                                <li th:classappend="${#httpServletRequest.requestURI.matches('(.*)/') or #httpServletRequest.requestURI.matches('(.*)/user/home')} ? active : ''">
                                    <a th:href="@{/}"><i class="ti-layers-alt"></i><span th:text="#{mainPage}"/></a>

                                </li>

                                <li th:classappend="${#httpServletRequest.requestURI.matches('(.*)/registration')} ? active : ''">
                                    <a th:href="@{/registration}"><i
                                            class="ti-user"></i><span th:text="#{userAdding}"/></a>
                                </li>

                                <li th:classappend="${#httpServletRequest.requestURI.matches('(.*)/routes/(.*)')
                                                      or #httpServletRequest.requestURI.matches('(.*)/routes-elements/route/(.*)')
                                                      or #httpServletRequest.requestURI.matches('(.*)/institutions/(.*)')
                                                      or #httpServletRequest.requestURI.matches('(.*)/questions/(.*)')
                                                      or #httpServletRequest.requestURI.matches('(.*)/descriptions/element/(.*)')
                                                      or #httpServletRequest.requestURI.matches('(.*)/elements/(.*)')
                                                      or #httpServletRequest.requestURI.matches('(.*)/messages/(.*)')
                                                      or #httpServletRequest.requestURI.matches('(.*)/tips/(.*)')
                                                      or #httpServletRequest.requestURI.matches('(.*)/prize/(.*)')} ? active : ''">
                                    <a href="javascript:void(0)"><i class="ti-pie-chart"></i><span
                                            th:text="#{manage}"></span></a>
                                    <ul class="submenu">
                                        <li th:classappend="${#httpServletRequest.requestURI.matches('(.*)/routes/(.*)')} ? active : ''">
                                            <a th:href="@{/routes/addRoute}" th:text="#{menuAddRouteName}"/></li>
                                        <li th:classappend="${#httpServletRequest.requestURI.matches('(.*)/routes-elements/route/(.*)')} ? active : ''">
                                            <a th:href="@{/routes-elements/route/addRouteElement}"
                                               th:text="#{menuAddRoutesElementName}"/></li>
                                        <li th:classappend="${#httpServletRequest.requestURI.matches('(.*)/institutions/(.*)')} ? active : ''">
                                            <a th:href="@{/institutions/addInstitution}"
                                               th:text="#{menuAddInstitutionName}"/></li>
                                        <li th:classappend="${#httpServletRequest.requestURI.matches('(.*)/questions/(.*)')} ? active : ''">
                                            <a th:href="@{/questions/addQuestion}"
                                               th:text="#{menuAddQuestionName}"/></li>

                                        <li th:classappend="${#httpServletRequest.requestURI.matches('(.*)/descriptions/element/(.*)')} ? active : ''">
                                            <a th:href="@{/descriptions/element/addDescription}"
                                               th:text="#{menuAddDescriptionName}"/></li>
                                        <li th:classappend="${#httpServletRequest.requestURI.matches('(.*)/elements/(.*)')} ? active : ''">
                                            <a th:href="@{/elements/addElement}"
                                               th:text="#{menuAddElementName}"/></li>
                                        <li th:classappend="${#httpServletRequest.requestURI.matches('(.*)/messages/(.*)')} ? active : ''">
                                            <a th:href="@{/messages/addMessage}"
                                               th:text="#{menuAddMessageName}"/></li>
                                        <li th:classappend="${#httpServletRequest.requestURI.matches('(.*)/tips/(.*)')} ? active : ''">
                                            <a th:href="@{/tips/addTip}"
                                               th:text="#{menuAddTipName}"/></li>
                                        <li th:classappend="${#httpServletRequest.requestURI.matches('(.*)/prize/(.*)')} ? active : ''">
                                            <a th:href="@{/prize/addPrizes}"
                                               th:text="#{menuAddPrizeName}"/></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-3 clearfix"></div>
                <div class="col-12 d-block d-lg-none">
                    <div id="mobile_menu"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-content-inner" th:replace="${content}"></div>
    <footer>
        <div class="footer-area">
            <p th:text="#{colorlibCopyright} + ' ' +#{Colorlib} + '.'"/>
        </div>
    </footer>
</div>
</body>
</html>