<!doctype html>
<html class="no-js" lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="htmlFragments/header :: headerFragment (#{descriptrionPageTitle})"></head>
<body class="body-bg">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<div id="preloader">
    <div class="loader"></div>
</div>
<div th:replace="htmlFragments/pageTemplate :: mainWrapperTemplate(~{:: .main-content-inner})">
    <div class="main-content-inner">
        <div id="updateDescriptionHolder"></div>
        <div id="deleteDescriptionHolder"></div>
        <div class="container">
            <div class="col-lg-12 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title" th:text="#{descriptions}"></h4>
                        <div class="single-table"
                             th:replace="htmlFragments/tableTemplate :: singleTable(~{:: thead}, ~{:: tbody})">
                            <thead>
                            <tr>
                                <th scope="col" th:text="#{id}"></th>
                                <th scope="col" th:text="#{descElement}"></th>
                                <th scope="col" th:text="#{title}"></th>
                                <th scope="col" th:text="#{content}"></th>
                                <th scope="col" th:text="#{mobile}"></th>
                                <th scope="col" th:text="#{descWeb}"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="description : ${descriptionBean.descriptions}">
                                <th scope="row" th:text="${description.id}"></th>
                                <td th:text="${description.element !=null} ? ${description.element.name} : #{noText}"></td>
                                <td th:text="${description.title !=null} ? ${description.title} : #{noText}"></td>
                                <td th:text="${description.content !=null} ? ${description.content} : #{noText}"></td>
                                <td th:text="${description.mobile} == true ? #{yes} : #{no}"></td>
                                <td th:text="${description.web}== true ? #{yes} : #{no}"></td>
                                <td>
                                    <button class="ti-pencil-alt btn btn-primary btn-xs"
                                            th:onclick="'javascript:openUpdateModal(\'' + ${description.id} + '\');'"></button>
                                    <button class="ti-trash btn btn-danger btn-xs"
                                            th:onclick="'javascript:openDeleteModal(\'' + ${description.id} + '\');'"></button>
                                </td>
                            </tr>
                            </tbody>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-5">
                <div class="card">
                    <div class="card-body">
                        <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal"
                                data-target="#exampleLongModalLong2" th:text="#{addNewRoute}"></button>
                        <div class="modal fade" id="exampleLongModalLong2">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" th:text="#{addNewRoute}"></h5>
                                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                                        </button>
                                    </div>
                                    <form autocomplete="off" action="#"
                                          th:action="@{/descriptions/element/addDescription}"
                                          th:object="${elementToAdd}" method="post" class="descriptions"
                                          role="form">
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label class="col-form-label"
                                                       th:text="#{element}"></label>
                                                <select class="form-control" th:field="*{element.id}">
                                                    <option th:each="elementOption : ${descriptionBean.elements}"
                                                            , th:value="${elementOption.id}"
                                                            th:text="${elementOption.name}"></option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="descriptionTitleInput" th:text="#{descriptionTitleInput}"></label>
                                                <input type="text" class="form-control" id="descriptionTitleInput"
                                                       th:field="*{title}">
                                            </div>
                                            <div class="form-group">
                                                <label for="descriptionContentInput"
                                                       th:text="#{descriptionContentInput}"></label>
                                                <textarea id="descriptionContentInput" class="form-control"
                                                          th:field="*{content}"></textarea>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input"
                                                       id="descriptionIsMobileInput" th:field="*{mobile}"/>
                                                <label class="custom-control-label" for="descriptionIsMobileInput"
                                                       th:text="#{descriptionIsMobileInput}"></label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input"
                                                       id="descriptionIsWebInput" th:field="*{web}">
                                                <label class="custom-control-label" for="descriptionIsWebInput"
                                                       th:text="#{descriptionIsWebInput}"></label>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                                    th:text="#{close}"></button>
                                            <button type="submit" class="btn btn-primary" th:text="#{add}"></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="/htmlFragments/jsScriptInclude :: scripts"></div>
<script>
    function openUpdateModal(id) {
        $.ajax({
            url: "/localserwer/descriptions/editDescription/" + id,
            success: function (data) {
                $("#updateDescriptionHolder").html(data);
                $("#updateModalDescription").modal("show");
            }
        })
    }

    function openDeleteModal(id) {
        $.ajax({
            url: "/localserwer/descriptions/deleteDescription/" + id,
            success: function (data) {
                $("#deleteDescriptionHolder").html(data);
                $("#deleteModalDescription").modal("show");
            }
        })
    }
</script>
</body>
</html>
