<!doctype html>
<html class="no-js" lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="htmlFragments/header :: headerFragment (#{elementPageTitle})"></head>
<body class="body-bg">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<div id="preloader">
    <div class="loader"></div>
</div>
<div th:replace="htmlFragments/pageTemplate :: mainWrapperTemplate(~{:: .main-content-inner})">
    <div class="main-content-inner">
        <div id="deleteElementHolder"></div>
        <div id="updateElementHolder"></div>
        <div class="container">
            <div class="col-lg-12 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title" th:text="#{elements}"></h4>
                        <div class="single-table"
                             th:replace="htmlFragments/tableTemplate :: singleTable(~{:: thead}, ~{:: tbody})">
                            <thead>
                            <tr>
                                <th scope="col" th:text="#{id}"></th>
                                <th scope="col" th:text="#{elementName}"></th>
                                <th scope="col" th:text="#{elementShortDesc}"></th>
                                <th scope="col" th:text="#{gpsX}"></th>
                                <th scope="col" th:text="#{gpsY}"></th>
                                <th scope="col" th:text="#{elementPhoto}"></th>
                                <th scope="col" th:text="#{question}"></th>
                                <th scope="col" th:text="#{elementTip}"></th>
                                <th scope="col" th:text="#{action}"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="element : ${elementBean.elements}">
                                <th scope="col" th:text="${element.id}"></th>
                                <td scope="col" th:text="${element.name !=null} ? ${element.name} : #{noText}"></td>
                                <td scope="col"
                                    th:text="${element.shortDescription !=null} ? ${element.shortDescription} : #{noText}"></td>
                                <td scope="col" th:text="${element.gpsX !=null} ? ${element.gpsX} : #{noText}"></td>
                                <td scope="col" th:text="${element.gpsY !=null} ? ${element.gpsY} : #{noText}"></td>
                                <td scope="col"><img th:src="@{/image/__${element.photo}__}"/></td>
                                <td scope="col"
                                    th:text="${element.question !=null} ? ${element.question.content} : #{noText}"></td>
                                <td scope="col"
                                    th:text="${element.tip !=null} ? ${element.tip.description} : #{noText}"></td>
                                <td>
                                    <button class="ti-pencil-alt btn btn-primary btn-xs"
                                            th:onclick="'javascript:openUpdateModal(\'' + ${element.id} + '\');'"></button>
                                    <button class="ti-trash btn btn-danger btn-xs"
                                            th:onclick="'javascript:openDeleteModal(\'' + ${element.id} + '\');'"></button>
                                </td>
                            </tr>
                            </tbody>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-5">
                <div class="card">
                    <div class="card-body">
                        <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal"
                                data-target="#exampleLongModalLong2" th:text="#{addNewElement}"></button>
                        <div class="modal fade" id="exampleLongModalLong2">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" th:text="#{addNewElement}"></h5>
                                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                                        </button>
                                    </div>
                                    <form autocomplete="off" action="#" th:action="@{/elements/addElement}"
                                          enctype="multipart/form-data"
                                          th:object="${elementToAdd}" method="post" class="routes"
                                          role="form">
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="elementNameInput" th:text="#{elementNameInput}"></label>
                                                <input type="text" class="form-control" id="elementNameInput"
                                                       th:field="*{name}">
                                            </div>
                                            <div class="form-group">
                                                <label for="elementDescriptionInput"
                                                       th:text="#{elementDescriptionInput}"></label>
                                                <input type="text" class="form-control" id="elementDescriptionInput"
                                                       th:field="*{shortDescription}">
                                            </div>
                                            <div class="form-group">
                                                <label for="gpsXInput" th:text="#{gpsXInput}"></label>
                                                <input type="text" class="form-control" id="gpsXInput"
                                                       th:field="*{gpsX}">
                                            </div>
                                            <div class="form-group">
                                                <label for="gpsYInput" th:text="#{gpsYInput}"></label>
                                                <input type="text" class="form-control" id="gpsYInput"
                                                       th:field="*{gpsY}">
                                            </div>
                                            <div class="form-group">
                                                <label class="col-form-label"
                                                       th:text="#{question}"></label>
                                                <select class="form-control" th:field="*{question.id}">
                                                    <option th:each="questionOption : ${elementBean.questionsWithoutElement}"
                                                            , th:value="${questionOption.id}"
                                                            th:text="${questionOption.content}"></option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-form-label"
                                                       th:text="#{tip}"></label>
                                                <select class="form-control" th:field="*{tip.id}">
                                                    <option th:each="tipOption : ${elementBean.tips}"
                                                            , th:value="${tipOption.id}"
                                                            th:text="${tipOption.description}"></option>
                                                </select>
                                            </div>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" th:text="#{upload}"></span>
                                                </div>
                                                <div class="custom-file">
                                                    <label class="custom-file-label" for="routeImageInput"
                                                           th:utext="#{routeImageText}"></label>
                                                    <input type="file" multiple="multiple" class="custom-file-input"
                                                           id="routeImageInput"
                                                           th:field="*{photo}">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                                    th:text="#{close}"></button>
                                            <button type="submit" class="btn btn-primary" th:text="#{add}"></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="/htmlFragments/jsScriptInclude :: scripts"></div>
<script type="text/javascript">
    $('#imageModalDismiss').click(function () {
        $('#imageModal').modal('hide');
    });
</script>
<script>
    function openDeleteModal(id) {
        $.ajax({
            url: "/localserwer/elements/deleteElement/" + id,
            success: function (data) {
                $("#deleteElementHolder").html(data);
                $("#deleteModalElement").modal("show");
            }
        })
    }

    function openUpdateModal(id) {
        $.ajax({
            url: "/localserwer/elements/editElement/" + id,
            success: function (data) {
                $("#updateElementHolder").html(data);
                $("#updateModalElement").modal("show");
            }
        })
    }
</script>
</body>

</html>
