<!doctype html>
<html class="no-js" lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="htmlFragments/header :: headerFragment (#{elementRoutePage})"></head>
<body class="body-bg">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<div id="preloader">
    <div class="loader"></div>
</div>
<div th:replace="htmlFragments/pageTemplate :: mainWrapperTemplate(~{:: .main-content-inner})">
    <div class="main-content-inner">
        <div id="updateModalRouteElementHolder"></div>
        <div id="deleteModalRouteElementHolder"></div>
        <div class="container">
            <div class="col-lg-12 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title" th:text="#{routes}"></h4>
                        <div id="accordion1" class="according">
                            <div class="card" th:each="route : ${routeElementBean.routes}">
                                <div class="card-header">
                                    <a class="card-link" data-toggle="collapse" th:text="${route.name}"
                                       th:href="'#route' + ${route.id}"></a>
                                </div>
                                <div class="collapse" data-parent="accordion1" th:attr="id='route' + ${route.id}">
                                    <div class="card-body">
                                        <h4 class="header-title" th:text="#{RouteElements}"></h4>
                                        <div class="single-table"
                                             th:replace="htmlFragments/tableTemplate :: singleTable(~{:: thead}, ~{:: tbody})">
                                            <thead>
                                            <tr>
                                                <th scope="col" th:text="#{namberOfElement}"></th>
                                                <th scope="col" th:text="#{Name}"></th>
                                                <th scope="col" th:text="#{shortDescription}"></th>
                                                <th scope="col" th:text="#{gpsX}"></th>
                                                <th scope="col" th:text="#{gpsY}"></th>
                                                <th scope="col" th:text="#{action}"></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="element : ${routeElementBean.getElementsByRoute(route)}">
                                                <th scope="row"
                                                    th:text="${element !=null} ? ${element.number} : #{noText}"></th>
                                                <td th:text="${element.element.name !=null} ? ${element.element.name} : #{noText}"></td>
                                                <td th:text="${element.element.shortDescription !=null} ? ${element.element.shortDescription} : #{noText}"></td>
                                                <td th:text="${element.element.gpsX !=null} ? ${element.element.gpsX} : #{noText}"></td>
                                                <td th:text="${element.element.gpsY !=null} ? ${element.element.gpsX} : #{noText}"></td>
                                                <td>
                                                    <button class="ti-pencil-alt btn btn-primary btn-xs"
                                                            th:onclick="'javascript:openUpdateModal(\'' + ${element.id} + '\');'"></button>
                                                    <button class="ti-trash btn btn-danger btn-xs"
                                                            th:onclick="'javascript:openDeleteModal(\'' + ${element.id} + '\');'"></button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 mt-2">
                                        <div class="card">
                                            <div class="card-body">
                                                <button type="button" class="btn btn-primary btn-lg btn-block"
                                                        data-toggle="modal"
                                                        th:attr="data-target='#ModalLong' + ${route.id}"
                                                        th:text="#{pinElemntToRoute}"></button>
                                                <div class="modal fade" th:attr="id='ModalLong' + ${route.id}">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" th:text="#{chooseElement}"></h5>
                                                                <button type="button" class="close"
                                                                        data-dismiss="modal"><span>&times;</span>
                                                                </button>
                                                            </div>
                                                            <form autocomplete="off" action="#"
                                                                  th:action="@{/routes-elements/route/__${route.id}__/addRouteElement}"
                                                                  th:object="${elementToAdd}" method="post"
                                                                  class="routeElement"
                                                                  role="form">
                                                                <div class="modal-body">
                                                                    <div class="form-group">
                                                                        <label class="col-form-label"
                                                                               th:text="#{element}"></label>
                                                                        <select class="form-control"
                                                                                th:field="*{element}">
                                                                            <option th:each="elementOption : ${routeElementBean.allElements}"
                                                                                    , th:value="${elementOption.id}"
                                                                                    th:text="${elementOption.name}"></option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-number-input"
                                                                               class="col-form-label"
                                                                               th:text="#{order}"></label>
                                                                        <input class="form-control" type="number"
                                                                               id="example-number-input"
                                                                               th:field="*{number}">
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary"
                                                                            data-dismiss="modal"
                                                                            th:text="#{close}"></button>
                                                                    <button type="submit" class="btn btn-primary"
                                                                            th:text="#{add}"></button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="/htmlFragments/jsScriptInclude :: scripts"></div>
<script>
    function openUpdateModal(id) {
        $.ajax({
            url: "/localserwer/routes-elements/route/editRouteElement/" + id,
            success: function (data) {
                $("#updateModalRouteElementHolder").html(data);
                $("#updateModalRouteElement").modal("show");
            }
        })
    }

    function openDeleteModal(id) {
        $.ajax({
            url: "/localserwer/routes-elements/route/deleteRouteElement/" + id,
            success: function (data) {
                $("#deleteModalRouteElementHolder").html(data);
                $("#deleteModalRouteElement").modal("show");
            }
        })
    }
</script>
</body>

</html>
