<!doctype html>
<html class="no-js" lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:include="htmlFragments/header :: headerFragment (#{institutePageTitle})"></head>
<body class="body-bg">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<!-- preloader area start -->
<div id="preloader">
    <div class="loader"></div>
</div>
<div th:replace="htmlFragments/pageTemplate :: mainWrapperTemplate(~{:: .main-content-inner})" >
    <div class="main-content-inner">
        <div id = "updateInstitutionHolder"></div>
        <div id = "deleteInstitutionHolder"></div>
        <div class="container">
            <div class="col-lg-12 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title" th:text="#{institutionModel}"></h4>
                        <div class="single-table"
                             th:replace="htmlFragments/tableTemplate :: singleTable(~{:: thead}, ~{:: tbody})">
                            <thead>
                            <tr>
                                <th scope="col" th:text="#{id}"></th>
                                <th scope="col" th:text="#{institutionName}"></th>
                                <th scope="col" th:text="#{institutionDescription}"></th>
                                <th scope="col" th:text="#{institutionLocation}"></th>
                                <th scope="col" th:text="#{institutePhone}"></th>
                                <th scope="col" th:text="#{instituteEmail}"></th>
                                <th scope="col" th:text="#{action}"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="institution : ${institutionBean.institutions}">
                                <th scope="row" th:text="${institution.id}"></th>
                                <td th:text="${institution.name !=null} ? ${institution.name} : #{noText}"></td>
                                <td th:text="${institution.description !=null} ? ${institution.description} : #{noText}"></td>
                                <td  th:text="${institution.location !=null} ? ${institution.location} : #{noText}"></td>
                                <td th:text="${institution.phone !=null} ? ${institution.phone} : #{noText}"></td>
                                <td th:text="${institution.email !=null} ? ${institution.email} : #{noText}"></td>
                                <td>
                                    <button class="ti-pencil-alt btn btn-primary btn-xs"
                                            th:onclick="'javascript:openUpdateModal(\'' + ${institution.id} + '\');'"></button>
                                    <button class="ti-trash btn btn-danger btn-xs"
                                            th:onclick="'javascript:openDeleteModal(\'' + ${institution.id} + '\');'"></button>
                                </td>
                            </tr>
                            </tbody>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-5">
                <div class="card">
                    <div class="card-body">
                        <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal"
                                data-target="#exampleLongModalLong2" th:text="#{addNewInstitution}"></button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleLongModalLong2">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" th:text="#{addNewInstitution}"></h5>
                                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                                        </button>
                                    </div>
                                    <form autocomplete="off" action="#" th:action="@{/institutions/addInstitution}"
                                          th:object="${elementToAdd}" method="post" class="insitutions"
                                          role="form">
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="institutionNameInput" th:text="#{institutionNameInput}"></label>
                                                <input type="text" class="form-control" id="institutionNameInput" th:field="*{name}">
                                            </div>
                                            <div class="form-group">
                                                <label for="institutionDescriptionInput" th:text="#{institutionDescriptionInput}"></label>
                                                <textarea id="institutionDescriptionInput" class="form-control" th:field="*{description}"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="institutionLocationInput" th:text="#{institutionLocationInput}"></label>
                                                <input type="text" class="form-control" id="institutionLocationInput" th:field="*{location}">
                                            </div>
                                            <div class="form-group">
                                                <label for="institutionPhonNumberInput" th:text="#{institutionPhonNumberInput}"></label>
                                                <input type="tel" class="form-control" id="institutionPhonNumberInput" th:field="*{phone}">
                                            </div>
                                            <div class="form-group">
                                                <label for="institutionEmailInput" th:text="#{institutionEmailInput}"></label>
                                                <input type="email" class="form-control" id="institutionEmailInput" th:field="*{email}">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{close}"></button>
                                            <button type="submit" class="btn btn-primary" th:text="#{add}"></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="/htmlFragments/jsScriptInclude :: scripts"></div>
<script>
    function openUpdateModal(id) {
        $.ajax({
            url: "/localserwer/institutions/editInstitution/" + id,
            success: function (data) {
                $("#updateInstitutionHolder").html(data);
                $("#updateModalInstitution").modal("show");
            }
        })
    }
    function openDeleteModal(id) {
        $.ajax({
            url: "/localserwer/institutions/deleteInstitution/" + id,
            success: function (data) {
                $("#deleteInstitutionHolder").html(data);
                $("#deleteModalInstitution").modal("show");
            }
        })
    }

</script>
</body>

</html>
