<!doctype html>
<html class="no-js" lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="htmlFragments/header :: headerFragment (#{messagePageTitle})"/>
<body class="body-bg">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<div id="preloader">
    <div class="loader"></div>
</div>
<div th:replace="htmlFragments/pageTemplate :: mainWrapperTemplate(~{:: .main-content-inner})">
    <div class="main-content-inner">
        <div id="updateModalMessageHolder"></div>
        <div id="deleteModalMessageHolder"></div>
        <div class="container">
            <div class="col-lg-12 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title" th:text="#{messages}"/>
                        <div class="single-table"
                             th:replace="htmlFragments/tableTemplate :: singleTable(~{:: thead}, ~{:: tbody})">
                            <thead>
                            <tr>
                                <th scope="col" th:text="#{id}"></th>
                                <th scope="col" th:text="#{title}"></th>
                                <th scope="col" th:text="#{content}"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="message : ${messageBean.messages}">
                                <th scope="row" th:text="${message.id}"></th>
                                <td th:text="${message.title !=null} ? ${message.title} : #{noText}"></td>
                                <td th:text="${message.description} ? ${message.description} : #{noText}"></td>
                                <td>
                                    <button class="ti-pencil-alt btn btn-primary btn-xs"
                                            th:onclick="'javascript:openUpdateModal(\'' + ${message.id} + '\');'"></button>
                                    <button class="ti-trash btn btn-danger btn-xs"
                                            th:onclick="'javascript:openDeleteModal(\'' + ${message.id} + '\');'"></button>
                                </td>
                            </tr>
                            </tbody>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-5">
                <div class="card">
                    <div class="card-body">
                        <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal"
                                data-target="#exampleLongModalLong2" th:text="#{addNewMessage}"></button>
                        <div class="modal fade" id="exampleLongModalLong2">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" th:text="#{addNewMessage}"></h5>
                                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                                        </button>
                                    </div>
                                    <form autocomplete="off" action="#" th:action="@{/messages/addMessage}"
                                          th:object="${elementToAdd}" method="post" class="messages"
                                          role="form">
                                        <div class="modal-body">

                                            <div class="form-group">
                                                <label for="messageTitleInput" th:text="#{messageTitleInput}"></label>
                                                <input type="text" class="form-control" id="messageTitleInput"
                                                       th:field="*{title}">
                                            </div>
                                            <div class="form-group">
                                                <label for="messageDescriptionInput"
                                                       th:text="#{messageDescriptionInput}"></label>
                                                <textarea id="messageDescriptionInput" class="form-control"
                                                          th:field="*{description}"></textarea>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                                    th:text="#{close}"></button>
                                            <button type="submit" class="btn btn-primary" th:text="#{add}"></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div th:include="/htmlFragments/jsScriptInclude :: scripts"></div>
<script>
    function openUpdateModal(id) {
        $.ajax({
            url: "/localserwer/messages/editMessage/" + id,
            success: function (data) {
                $("#updateModalMessageHolder").html(data);
                $("#updateModalMessage").modal("show");
            }
        })
    }

    function openDeleteModal(id) {
        $.ajax({
            url: "/localserwer/messages/deleteMessage/" + id,
            success: function (data) {
                $("#deleteModalMessageHolder").html(data);
                $("#deleteModalMessage").modal("show");
            }
        })
    }
</script>
</body>

</html>
