<!doctype html>
<html class="no-js" lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="htmlFragments/header :: headerFragment (#{questionTitlePage})"></head>

<body class="body-bg">

<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<!-- preloader area start -->
<div id="preloader">
    <div class="loader"></div>
</div>
<!-- preloader area end -->
<!-- main wrapper start -->
<div th:replace="htmlFragments/pageTemplate :: mainWrapperTemplate(~{:: .main-content-inner})">
    <div class="main-content-inner">
        <div id="updateModalQuestionHolder"></div>
        <div id="deleteModalQuestionHolder"></div>
        <div class="container">
            <div class="col-lg-12 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title" th:text="#{questions}"></h4>
                        <p th:text="#{questionDescription}"></p>
                        <div class="single-table"
                             th:replace="htmlFragments/tableTemplate :: singleTable(~{:: thead}, ~{:: tbody})">
                            <thead>
                            <tr>
                                <th scope="col" th:text="#{id}"></th>
                                <th scope="col" th:text="#{questionContent}"></th>
                                <th scope="col" th:text="#{questionAnsewerFirst}"></th>
                                <th scope="col" th:text="#{questionAnswerSecond}"></th>
                                <th scope="col" th:text="#{questionAnswerThird}"></th>
                                <th scope="col" th:text="#{questionAnswerFourthAndRight}"></th>
                                <th scope="col" th:text="#{action}"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="question : ${questionBean.questions}">
                                <th scope="row" th:text="${question.id}"></th>
                                <td th:text="${question.content}"></td>
                                <td th:text="${question.answerOne}"></td>
                                <td th:text="${question.answerTwo}"></td>
                                <td th:text="${question.answerTree}"></td>
                                <td th:text="${question.rightAnswer}"></td>
                                <td>
                                    <button class="ti-pencil-alt btn btn-primary btn-xs"
                                            th:onclick="'javascript:openUpdateModal(\'' + ${question.id} + '\');'"></button>
                                    <button class="ti-trash btn btn-danger btn-xs"
                                            th:onclick="'javascript:openDeleteModal(\'' + ${question.id} + '\');'"></button>
                                </td>
                            </tr>
                            </tbody>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-5">
                <div class="card">
                    <div class="card-body">
                        <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal"
                                data-target="#exampleLongModalLong2" th:text="#{addNewQuestion}"></button>
                        <div class="modal fade" id="exampleLongModalLong2">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" th:text="#{addNewQuestion}"></h5>
                                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                                        </button>
                                    </div>
                                    <form autocomplete="off" action="#" th:action="@{/questions/addQuestion}"
                                          th:object="${elementToAdd}" method="post" class="insitutions"
                                          role="form">
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="questionContentInput" th:text="#{questionContentInput}"></label>
                                                <input type="text" class="form-control" id="questionContentInput"
                                                       th:field="*{content}">
                                            </div>
                                            <div class="form-group">
                                                <label for="questionAnswerFirstInput"
                                                       th:text="#{questionAnswerFirstInput}"></label>
                                                <textarea id="questionAnswerFirstInput" class="form-control"
                                                          th:field="*{answerOne}"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="questionAnswerSecondInput"
                                                       th:text="#{questionAnswerSecondInput}"></label>
                                                <input type="text" class="form-control" id="questionAnswerSecondInput"
                                                       th:field="*{answerTwo}">
                                            </div>
                                            <div class="form-group">
                                                <label for="questionAnswerThreeInput"
                                                       th:text="#{questionAnswerThreeInput}"></label>
                                                <input type="text" class="form-control" id="questionAnswerThreeInput"
                                                       th:field="*{answerTree}">
                                            </div>
                                            <div class="form-group">
                                                <label for="questionAnswerRightInput"
                                                       th:text="#{questionAnswerRightInput}"></label>
                                                <input type="text" class="form-control" id="questionAnswerRightInput"
                                                       th:field="*{rightAnswer}">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                                    th:text="#{close}"></button>
                                            <button type="submit" class="btn btn-primary" th:text="#{add}"></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="/htmlFragments/jsScriptInclude :: scripts"></div>
<script>
    function openUpdateModal(id) {
        $.ajax({
            url: "/localserwer/questions/editQuestion/" + id,
            success: function (data) {
                $("#updateModalQuestionHolder").html(data);
                $("#updateModalQuestion").modal("show");
            }
        })
    }

    function openDeleteModal(id) {
        $.ajax({
            url: "/localserwer/questions/deleteQuestion/" + id,
            success: function (data) {
                $("#deleteModalQuestionHolder").html(data);
                $("#deleteModalQuestion").modal("show");
            }
        })
    }
</script>
</body>

</html>
