<!doctype html>
<html class="no-js" lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="htmlFragments/header :: headerFragment (#{tipPageTitle})"></head>
<body class="body-bg">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<div id="preloader">
    <div class="loader"></div>
</div>
<div th:replace="htmlFragments/pageTemplate :: mainWrapperTemplate(~{:: .main-content-inner})">
    <div class="main-content-inner">
        <div id="deleteTipHolder"></div>
        <div id="updateTipHolder"></div>
        <div class="container">
            <div class="col-lg-12 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title" th:text="#{tips}"></h4>
                        <div class="single-table"
                             th:replace="htmlFragments/tableTemplate :: singleTable(~{:: thead}, ~{:: tbody})">
                            <thead>
                            <tr>
                                <th scope="col" th:text="#{id}"></th>
                                <th scope="col" th:text="#{tipDescriptrion}"></th>
                                <th scope="col" th:text="#{tipPhoto}"></th>
                                <th scope="col" th:text="#{action}"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="tip : ${tipBean.tips}">
                                <th scope="row" th:text="${tip.id}"></th>
                                <td th:text="${tip.description}"></td>
                                <td><img th:src="@{/image/__${tip.photo}__}"/></td>
                                <td>
                                    <button class="ti-pencil-alt btn btn-primary btn-xs"
                                            th:onclick="'javascript:openUpdateModal(\'' + ${tip.id} + '\');'"></button>
                                    <button class="ti-trash btn btn-danger btn-xs"
                                            th:onclick="'javascript:openDeleteModal(\'' + ${tip.id} + '\');'"></button>
                                </td>
                            </tr>
                            </tbody>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-5">
                <div class="card">
                    <div class="card-body">
                        <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal"
                                data-target="#exampleLongModalLong2" th:text="#{addNewRoute}"></button>
                        <div class="modal fade" id="exampleLongModalLong2">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" th:text="#{addNewTip}"></h5>
                                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                                        </button>
                                    </div>
                                    <form autocomplete="off" action="#" th:action="@{/tips/addTip}"
                                          enctype="multipart/form-data"
                                          th:object="${elementToAdd}" method="post" class="routes"
                                          role="form">
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="tipDescriptionInput"
                                                       th:text="#{tipDescriptionInput}"></label>
                                                <textarea id="tipDescriptionInput" class="form-control"
                                                          th:field="*{description}"></textarea>
                                            </div>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" th:text="#{upload}"></span>
                                                </div>
                                                <div class="custom-file">
                                                    <label class="custom-file-label" for="routeImageInput"
                                                           th:utext="#{routeImageText}"></label>
                                                    <input type="file" multiple="multiple" class="custom-file-input"
                                                           id="routeImageInput"
                                                           th:field="*{photo}">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                                    th:text="#{close}"></button>
                                            <button type="submit" class="btn btn-primary" th:text="#{add}"></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="/htmlFragments/jsScriptInclude :: scripts"></div>
<script>
    function openDeleteModal(id) {
        $.ajax({
            url: "/localserwer/tips/deleteTip/" + id,
            success: function (data) {
                $("#deleteTipHolder").html(data);
                $("#deleteModalTip").modal("show");
            }
        })
    }

    function openUpdateModal(id) {
        $.ajax({
            url: "/localserwer/tips/editTip/" + id,
            success: function (data) {
                $("#updateTipHolder").html(data);
                $("#updateModalTip").modal("show");
            }
        })
    }
</script>
</body>
</html>
