<!doctype html>
<html class="no-js" lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:include="htmlFragments/header :: headerFragment (#{loginPageTitle})"/>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<div id="preloader">
    <div class="loader"></div>
</div>
<div class="login-area">
    <div class="container">
        <div class="login-box ptb--100">
            <form th:action="@{/login}" method="POST">
                <div class="login-form-head">
                    <h4 th:text="#{login.login}"></h4>
                    <p th:text="#{login.hello}"></p>
                </div>
                <div class="login-form-body">
                    <div class="form-error">
                        <div th:if="${param.error}">
                            <p th:text="#{login.wrong}"></p>
                        </div>
                    </div>
                    <div class="form-gp">
                        <label for="email" th:text="#{login.email}"></label>
                        <input type="email" id="email" name="email">
                        <i class="ti-email"></i>
                    </div>
                    <div class="form-gp">
                        <label for="password" th:text="#{login.password}"></label>
                        <input type="password" id="password" name="password">
                        <i class="ti-lock"></i>
                    </div>
                    <div class="row mb-4 rmber-area">
                        <div class="col-6">
                            <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" name="remember-me" class="custom-control-input"
                                       id="customControlAutosizing">
                                <label class="custom-control-label" for="customControlAutosizing"
                                       th:text="#{login.remember}"></label>
                            </div>
                        </div>
                    </div>
                    <div class="submit-btn-area">
                        <button id="form_submit" name="Submit" value="Login" type="submit"
                                th:text="#{login.login}"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:include="/htmlFragments/jsScriptInclude :: scripts"/>
</body>

</html>