<!doctype html>
<html class="no-js" lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:include="htmlFragments/header :: headerFragment (#{registerPageTitle})"></head>
<body>
<th:block th:if="${registerBean.isAdded() == true}">
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:text="#{registration.congrat}"></h5>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    <p><span th:text="#{registration.user.mail}"></span> <span
                            th:text="${registerBean.newUserName}"></span> <span
                            th:text="#{registration.was.add}"></span>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{close}"></button>
                    <form method="get" th:action="@{/}">
                        <button type="submit" class="btn btn-primary"
                                th:text="#{registration.back.to.main.page}"></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</th:block>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<div id="preloader">
    <div class="loader"></div>
</div>
<div class="login-area">
    <div class="container">
        <div class="login-box ptb--100">
            <form autocomplete="off" action="#" th:action="@{/registration}"
                  th:object="${user}" method="post" class="registration"
                  role="form">
                <div class="login-form-head">
                    <h4 th:text="#{registration.register.user}"></h4>
                    <p th:text="#{registration.description}"></p>
                </div>
                <div class="login-form-body">
                    <div class="form-gp">
                        <label for="exampleInputEmail1" th:text="#{registration.email}"></label>
                        <input type="email" id="exampleInputEmail1" th:field="*{email}">
                        <i class="ti-email"></i>

                    </div>
                    <div class="form-gp">
                        <label for="exampleInputPassword1" th:text="#{registration.password}"></label>
                        <input type="password" id="exampleInputPassword1" th:field="*{password}">
                        <i class="ti-lock"></i>
                    </div>
                    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                        wrong
                    </p>
                    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                        wrong
                    </p>
                    <div class="submit-btn-area">
                        <button id="form_submit" type="submit" th:text="#{registration.submit}"></button>
                    </div>
                    <div class="form-footer text-right mt-4">
                        <a th:href="@{/user/home}" th:text="#{mainPageReturn}"></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:include="/htmlFragments/jsScriptInclude :: scripts"></div>
<script type="text/javascript">
    $(window).on('load', function () {
        $('#myModal').modal('show');
    });
</script>
</body>
</html>