.message {
    font-style: normal;
    font-size: 22px;
    color: #000000;
}

.home {
    max-width: 70%;
    padding: 2% 6% 3%;
    margin: auto;
    background-color: #aaca5e;
    text-align: center
}